VITE_API_BASE_URL=https://api.example.com
VITE_API_VERSION=v1
VITE_GRANT_TYPE=client_credentials

# client_credentials
VITE_CLIENT_ID=your_client_id
VITE_CLIENT_SECRET=your_client_secret

# password
VITE_USERNAME=
VITE_PASSWORD=
VITE_AUTH_TOKEN=

# session_token
VITE_SESSION_TOKEN=
